[submodule "core"]
	path = core
	url = git@github.com:usevowel/core.git
[submodule "engine"]
	path = engine
	url = https://github.com/usevowel/engine.git
	branch = main
[submodule "client"]
	path = client
	url = https://github.com/usevowel/client.git
[submodule "demos"]
	path = demos
	url = https://github.com/usevowel/demos.git
[submodule "echoline"]
	path = echoline
	url = https://github.com/usevowel/echoline.git
